/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-h: 4rem;
    --sidebar-w: 25%;
}

@layer components {
    .btn-outline {
        @apply hover:text-white border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:hover:text-white;
    }

    .btn-outline-primary {
        @apply btn-outline text-blue-700 border-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:border-blue-500 dark:text-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800;
    }

    .btn-outline-dark {
        @apply btn-outline text-gray-900 border-gray-800 hover:bg-gray-900 focus:ring-gray-300 dark:border-gray-600 dark:text-gray-400 dark:hover:bg-gray-600 dark:focus:ring-gray-800;
    }

    .activity-header, .comment-title{
        background: #193660;
        padding: 22px;
    }


    .activity-header h1, .comment-title h1{
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }
}
